html, body {
    margin:0;
    height:100%;
    min-height:100%;
}
body {
    margin:0;
    display: flex;
    flex-direction: column;
    background: url("../images/background.jpg") fixed no-repeat top right;
    background-size: cover;
}

header {
    background: black;
    text-align: center;
    max-height: 30px;
    color: white;
}
article {
    overflow-y: auto;
    color: black;

}
footer {
    background: rgba(84, 135, 178, 0.65);
    height: 25px;
    text-align: center;
    color: white;
    z-index: 3;
    padding-top: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer * {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline;
    text-decoration: none;
}
footer a:hover {
    text-decoration: none;
}
header *, footer * {
    color: white;
}

.title {
    text-align: center;
    border: 5px solid black;
    margin: 10px auto 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    width: 75%;
}

.body {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0 10px 35px 290px;
    padding: 10px 10px 10px 10px;
    width: auto;
}
article nav {
    position: fixed;
    left: 0;
    float: left;
    background-color: rgba(249, 248, 248, 0.84);
    width: 280px;
    border: black 5px;
    height: 100%;
}

form input, textarea {
    border: black solid 1px
}

table {
    width: auto;
    border-collapse: collapse;
    margin: 0 20px 0 20px;
}
table td, th {
    border: solid 2px black;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 15px;
}

.container {
    position: relative;
    padding: 0;
}

#mainContact {
    display: flex;
    align-content: space-around;
    height: 75px;
}

.projectLink {
    text-decoration: none;
    color: #131E4A;
}
.projectLink:hover{
    text-decoration: none;
}

.panel {
    background-color: rgba(255,255,255,.8);
}

.pop img {
    display: block;
    margin: auto;
}
.popover {
    max-width: 750px;
}
.noPopText {
    text-align: center;

}
.panel-body {
    padding: 15px 0 15px 0;
}

#XWare {
    display: block;
    margin: 25px auto 25px auto;
    background-color: #fff;
    padding: 5px 0 5px 0;
}
#CampC {
    display: block;
    margin: 20px auto 20px auto;
    width: 250px;
}
#CIB {
    width: 200px;
    display: block;
    margin: auto;
    background-color: #fff;
}
.row {
    margin: 0;
}
#MATC {
    background-color: #4E0018;
    margin-top: 30px;
}